## ─────────────────────────────────────────────
## Project Root & Directories
## ─────────────────────────────────────────────

export PROJECT_ROOT="$PWD"
export PROJECT_BIN_DIR="$PROJECT_ROOT/bin"
export PROJECT_SCRIPTS_DIR="$PROJECT_ROOT/scripts"

## ─────────────────────────────────────────────
## Project Binaries & Scripts
## ─────────────────────────────────────────────

add_to_path() {
  [ -d "$1" ] && export PATH="$1:$PATH"
}

add_to_path "$PROJECT_BIN_DIR"
add_to_path "$PROJECT_SCRIPTS_DIR"
